* {
    box-sizing: border-box;
}

img {
    display: block;
    margin: 10px auto;
}
.galery-container {
    width: 100;
}

.border {
    border: 1px solid red;
}

.sean {
    width: 301px;
}
.daniel {
    width: 275px;
}
.karen {
    width: 300px;
}
.esteban {
    width: 150px;
}
.dawg {
    width: 550px;
}